$black: #333333;
$gray: #7e7e7e;

$secondary-color: #F3C300;
$secondary-color-darker: #a38300;

$primary-color: #0067A5;
$primary-color-darker: #004570;

.secondary-color {
    color: $secondary-color;
}