---
---

<!DOCTYPE html>
<html>

{% include head.html %}

<body>
  <div class="container">
    <main>
      <div class="row bio">
        <div class="four columns">
          <picture>
            <img class="bio-pic" height="250px" width="250px" alt="Profile pic" src="/assets/images/avatar_250_250.jpg">
          </picture>
        </div>

        <div class="seven columns bio-text">
          <h2>Hello</h2>

          <p>Hi! I'm
            <span class="secondary-color">Amelia Harrison</span>, viral ecologist and research assistant in Eric
            Wommack's viral ecology lab at the University of Delaware.
          </p>
          {% include header.html %}
        </div>
      </div>
    </main>
  </div>
</body>

</html>