<header class="site-navbar">
  <nav class="">
    <ul class="no-bullets">
      <li class="nav_item">
        <a href="https://www.tenderisthebyte.com/">Blog</a>
      </li>

      <li class="nav_item">
        <a href="https://github.com/aoharrison">GitHub</a>
      </li>

      <li class="nav_item">
        <a href="https://orcid.org/0000-0001-7387-1374">ORCiD</a>
      </li>

      <li class="nav_item">
        <a href="https://twitter.com/AmeliaOmelia">Twitter</a>
      </li>
    </ul>
  </nav>
</header>